
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    scroll-behavior: smooth; /*makes scrolling  on the web page smooth */
}

body {
    background: #080808;
    color: #fff;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(/images/background.png);
    background-position: center;
    background-size: cover;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a {
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
    position: relative;
}
/* gives an underline to the nav menu */
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px; /* gives the height of the underline */ 
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px; /* give the gap between the underline and the nav menu */
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
    
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #ff004f;
}

/*-------------------------- About ------------------------------*/
#about {
    padding: 80px 0;
    color: #ababab;
    letter-spacing: 1px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%; /*width of column will be 35%  of the total width*/
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px; /* corner of the image will be 15px round */
}

.about-col-2 {
    flex-basis: 60%; /* width of column will be 60% of the total width and that will make the image and about me have a space of 5%*/ 
}

.about-col-2 em {
    color: #c71818;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after { /*pseudo-elements*/
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    bottom: -8px;
    transition: 0.5s;
    left: 0;
}

.tab-links.active-link::after { /*no space between links */
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #c71818;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/*------------------------SERVICES-------------*/
#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #2626265b;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s; /* makes the transistion to delay 0.5s before it transitions */
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list  div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div p {
    font-size: 14px;
    letter-spacing: 1px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    display: inline-block;
    margin-top: 20px;
}
.services-list div:hover {
    background-color: #c71818;
    transform: translateY(-10px); /* transform (translateY(-) moves the property up/down while translateX( moves it left/right) */
}

#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.layer {
    width: 100%;
    height: 0; /* height it will take within the container */
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0; /* makes the content to overright the image */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s; /* transition height makes the hover to come from the bottom */
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 30px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.work:hover img{ /* makes the image to zoom in when hover on it */
    transform: scale(1.1); /* scale zooms the item */
}

.work:hover .layer{ /* makes the ilayer to take the required properties when hover on it */
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: transform 0.5s;
}

.btn:hover {
    background: #ff004f;
}
/*--------------------------------CONTACTS--------------------------*/
.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 15px;
    font-size: 25px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #ff0000;
}

.contact-right form {
    width: 100%;
}

form input, textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    letter-spacing: 1px;
}

.copyright i {
    color: #ff0000;
    margin: 0 5px;
}

/*---------------------FOR SMALL SCREEN--------------------------------*/
nav .fa-solid {
    display: none;
} /*hides the menu tags */

@media only screen and (max-width: 600px){
    header {
        background-image: url(/images/phone-background.png);
    }

    .logo {
        margin-top: 10px;
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    } /*shows the menu tags */

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px; /* because the width is 200px*/
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s; /*how the animation will enter*/
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
    }

    .fa-solid{
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
        text-align: center;
    }

    .about-col-1 {
        flex-basis: 100%;
        margin-bottom: 30px
    }

    .about-col-2 {
        flex-basis: 100%;
        font-size: 14px;
    }

    .tab-links {
        margin-right: 20px;
        font-size: 16px;
    }

    .contact-right, .contact-left {
        flex-basis: 100%;
    }

    .contact-left.sub-title {
        margin-bottom: 15px;
    }

    .social-icons {
        text-align: center;;
    }

    .btn.btn2 {
        margin: 30px 90px;
    }

    .copyright {
        font-size: 14px;
    }
}